@using WebCore6Test.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var student in new SchoolDbContext().Students.ToList()){
        <div>@student.Name</div>
        }
</div>
